$color-primary: #f5a623;
$color-dark: #2d2c2c;
$color-dark2: #434343;
$color-light: #ffffff;
$color-break: rgb(7, 176, 228);

$text-xs: 20px;
$text-sm: 36px;
$text-md: 40px;
$text-lg: 45px;
$text-xl: 50px;
