.analysis {
  color: white;
  .analysis-number {
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    .analysis-number-box {
      width: 40%;
      height: auto;
    }
    .number-box-title {
      width: 100px;
      margin: 0 0 20px 0;
    }
  }
}
