.ringtones {
  position: relative;
  background-color: $color-dark2;
  border: 1px solid $color-primary;
  margin: 0 0 20px 0;
  padding: 30px 20px;
  list-style: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 1px black;
  }
  .ringtones-item-check {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid $color-primary;
    border-radius: 50%;
    padding: 3px;
    width: 25px;
    height: 25px;
  }
  .ringtones-name {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    font-size: 24px;
  }
  .ringtones-play {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 24px;
    &:hover {
      color: rgb(233, 107, 233);
      text-shadow: 2px 2px 1px black;
    }
  }
}

.checked {
  color: $color-light;
  background-color: $color-primary;
  .ringtones-item-check {
    border: 1px solid $color-light;
  }
}
